/********************************* Start Documentation ****************************************
* @File      : index.html
* @Author    : AbdAlla AboElMagd
* @Brief     : This is CSS File For Login and Register Pages of a Page Like Facebook (For Learning Purpose Only)
*********************************** End Documentation ****************************************/
a {
  text-decoration: none;
  color: #8a8d91;
}

a:hover {
  text-decoration: underline;
}
